<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Whiskiki | 위스키 등록 요청성공</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        padding: 30px 26px;
      }

      h1 {
        margin-bottom: 40px;
        text-align: center;
        font-size: 22px;
        font-weight: 700;
        color: #222;
      }

      li {
        display: flex;
        margin-top: 20px;
        align-items: center;
        list-style: none;
      }
      img {
        margin-right: 10px;
      }

      h2 {
        margin-right: 20px;
        color: #222;
        font-size: 20px;
        font-weight: 700;
      }

      p {
        font-size: 16px;
        font-weight: 700;
        color: #7d7d7d;
      }
    </style>
  </head>
  <body>
    <h1>제출해주셔서 감사합니다.</h1>
    <p>최대한 빠르게 추가하도록 하겠습니다. 감사합니다 :)</p>
  </body>
</html>
